div {
    color: red;
    width: 100px;
    height: 100px;
}
p {
    width: 100px;
    height: 100px;
    color: rosybrown;
    background: lime;
}

input {
    user-select: none;
    overflow: hidden;
    width: 100px;
    height: 100px;
}